<!DOCTYPE html>
<html>
    <head>
        <title>EVIL KEFIR</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- include:css(./app/**/*.css) -->

    </head>
    <body ng-app="app" >

        <div class="interface">
            <div ng-controller="viewport" class="viewport">
                <div class="button-bar">
                    <div ng-repeat="button in buttons"
                         class="button"
                         ng-class="{hold: button.active, red: button.red}"
                         ng-click="setActive(button)">
                        <div><span ng-bind="::'╔═' + setBorder(button.action.title) + '═╗'"></span></div>
                        <div><span ng-bind="::'║ ' + button.action.title + ' ║'"></span></div>
                        <div><span ng-bind="::'╚═' + setBorder(button.action.title) + '═╝'"></span></div>
                    </div>

                    <div class="weapon">
                        <div><span ng-bind="'┌─' + weapon.border + '─┐'">|</span></div>
                        <div><span ng-bind="'│ ' + weapon.weapon.title + ' │'">|</span></div>
                        <div><span ng-bind="'└─' + weapon.border + '─┘'">|</span></div>
                    </div>
                </div>
                <div symbol-width></div>
                <div class="view">
                    <i ng-bind="hint"></i>
                    <div viewport-line ng-repeat="(linekey, line) in gameviewLine track by $index"
                            class="viewport-line"
                            cell-y="{{::linekey}}"
                            ng-mousedown="onMouseDown($event)"
                            ng-mouseup="onMouseUp($event)"
                            ><div> </div><span ng-bind="line"></span></div>
                    <div ng-if="dialog.show" class="dialog" ng-bind="dialog.item.text"></div>
                </div>
            </div>
            <a href="https://vk.com/eastareagames" class="footer-text">Наша группа ВКонтакте</a>
            <canvas id="myCanvas" resize></canvas>
            <div class="footer-text">Ребята, пожертвуйте разработчикам на пиво.</div>
            <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/shop.xml?account=410012503174456&quickpay=shop&payment-type-choice=on&mobile-payment-type-choice=on&writer=seller&targets=%D0%9F%D0%BE%D0%B6%D0%B5%D1%80%D1%82%D0%B2%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5+%D0%BD%D0%B0+%D1%80%D0%B0%D0%B7%D0%B2%D0%B8%D1%82%D0%B8%D0%B5+&targets-hint=&default-sum=&button-text=01&successURL=" width="450" height="198"></iframe>

        </div>

        <script type="text/paperscript" canvas="myCanvas" src="app/paper/first.pjs"></script>

        <!-- include:js(list:scriptList) -->

        <!-- include:js(./app/**/*.js) -->

        <!--<script type="text/javascript" src="dist/dist.js"></script>-->

    </body>
</html>
