<!DOCTYPE html>
<html>
    <head>
        <title>EVIL KEFIR</title>
        <meta charset="UTF-8">

        <link rel="stylesheet" type="text/css" href="index.css" />
        <link rel="stylesheet" type="text/css" href="app/viewport/css/viewport.css" />
        <link rel="stylesheet" type="text/css" href="app/viewport/css/symbolWidth.css" />

    </head>
    <body ng-app="app" >

        <div class="interface">
            <div ng-controller="viewport" class="viewport">
                <div class="button-bar">
                    <div ng-repeat="button in buttons"
                         class="button"
                         ng-class="{hold: button.active, red: button.red}"
                         ng-click="setActive(button)">
                        <div><span ng-bind="::'╔═' + setBorder(button.action.title) + '═╗'"></span></div>
                        <div><span ng-bind="::'║ ' + button.action.title + ' ║'"></span></div>
                        <div><span ng-bind="::'╚═' + setBorder(button.action.title) + '═╝'"></span></div>
                    </div>

                    <div class="weapon">
                        <div><span ng-bind="'┌─' + weapon.border + '─┐'">|</span></div>
                        <div><span ng-bind="'│ ' + weapon.text + ' │'">|</span></div>
                        <div><span ng-bind="'└─' + weapon.border + '─┘'">|</span></div>
                    </div>
                </div>
                <div symbol-width></div>
                <div class="view">
                    <i ng-bind="hint"></i>
                    <div viewport-line ng-repeat="(linekey, line) in gameviewLine track by $index"
                            class="viewport-line"
                            cell-y="{{::linekey}}"
                            ng-mousedown="onMouseDown($event)"
                            ng-mouseup="onMouseUp($event)"
                            ><div> </div><span ng-bind="line"></span></div>
                    <div ng-if="dialog.show" class="dialog" ng-bind="dialog.item.text"></div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="components/angular/angular.min.js"></script>
        <script type="text/javascript" src="components/angular-mocks/angular-mocks.js"></script>


        <script type="text/javascript" src="app.js"></script>

        <script type="text/javascript" src="app/character/src/character.js"></script>
        <script type="text/javascript" src="app/character/src/characterData.js"></script>
        <script type="text/javascript" src="app/character/src/characterLogic.js"></script>
        <script type="text/javascript" src="app/character/src/characterControl.js"></script>
        <script type="text/javascript" src="app/character/src/characterSprite.js"></script>

        <script type="text/javascript" src="app/control/keyboard/src/keyboardService.js"></script>
        <script type="text/javascript" src="app/control/keyboard/src/keysConstant.js"></script>
        <script type="text/javascript" src="app/control/mouse/src/mouseService.js"></script>

        <script type="text/javascript" src="app/core/collection/src/collection.js"></script>
        <script type="text/javascript" src="app/core/collision/src/collision.js"></script>
        <script type="text/javascript" src="app/core/entity/src/entity.js"></script>
        <script type="text/javascript" src="app/core/entity/src/entityVisible.js"></script>
        <script type="text/javascript" src="app/core/layer/src/layer.js"></script>
        <script type="text/javascript" src="app/core/level/src/level.js"></script>
        <script type="text/javascript" src="app/core/message/messageTypes.js"></script>
        <script type="text/javascript" src="app/core/movement/src/movement.js"></script>
        <script type="text/javascript" src="app/core/point/src/point.js"></script>
        <script type="text/javascript" src="app/core/point/src/pointLimit.js"></script>
        <script type="text/javascript" src="app/core/rect/src/rect.js"></script>
        <script type="text/javascript" src="app/core/render/src/render.js"></script>
        <script type="text/javascript" src="app/core/sprite/src/sprite.js"></script>
        <script type="text/javascript" src="app/core/sprite/src/spriteAnimate.js"></script>
        <script type="text/javascript" src="app/core/sprite/src/strip.js"></script>
        <script type="text/javascript" src="app/core/sprite/src/spriteImage.js"></script>
        <script type="text/javascript" src="app/core/symbolGrid/src/symbolGrid.js"></script>
        <script type="text/javascript" src="app/core/unique/src/unique.js"></script>

        <script type="text/javascript" src="app/entities/staticObject.js"></script>
        <script type="text/javascript" src="app/entities/npc/fox/fox.js"></script>
        <script type="text/javascript" src="app/entities/npc/pionerPark/poinerPark.js"></script>
        <script type="text/javascript" src="app/entities/npc/pionerWC/poinerWC.js"></script>
        <script type="text/javascript" src="app/entities/npc/npc.js"></script>

        <script type="text/javascript" src="app/game/game.js"></script>
        <script type="text/javascript" src="app/game/dialogs.js"></script>
        <script type="text/javascript" src="app/map/src/mapService.js"></script>
        <script type="text/javascript" src="app/viewport/src/viewport.js"></script>
        <script type="text/javascript" src="app/viewport/src/directive/viewportLine.js"></script>
        <script type="text/javascript" src="app/viewport/src/directive/symbolWidth.js"></script>
        <script type="text/javascript" src="app/viewport/src/service/viewportService.js"></script>
        <script type="text/javascript" src="app/viewport/src/service/symbolWidthService.js"></script>

    </body>
</html>
