<!DOCTYPE html>
<html>
    <head>
        <title>EVIL KEFIR</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="./app/index.css">
<link rel="stylesheet" href="./app/viewport/css/symbolWidth.css">
<link rel="stylesheet" href="./app/viewport/css/viewport.css">

    </head>
    <body ng-app="app" >

        <div class="interface">
            <div ng-controller="viewport" class="viewport">
                <div class="button-bar">
                    <div ng-repeat="button in buttons"
                         class="button"
                         ng-class="{hold: button.active, red: button.red}"
                         ng-click="setActive(button)">
                        <div><span ng-bind="::'╔═' + setBorder(button.action.title) + '═╗'"></span></div>
                        <div><span ng-bind="::'║ ' + button.action.title + ' ║'"></span></div>
                        <div><span ng-bind="::'╚═' + setBorder(button.action.title) + '═╝'"></span></div>
                    </div>

                    <div class="weapon">
                        <div><span ng-bind="'┌─' + weapon.border + '─┐'">|</span></div>
                        <div><span ng-bind="'│ ' + weapon.weapon.title + ' │'">|</span></div>
                        <div><span ng-bind="'└─' + weapon.border + '─┘'">|</span></div>
                    </div>
                </div>
                <div symbol-width></div>
                <div class="view">
                    <i ng-bind="hint"></i>
                    <div viewport-line ng-repeat="(linekey, line) in gameviewLine track by $index"
                            class="viewport-line"
                            cell-y="{{::linekey}}"
                            ng-mousedown="onMouseDown($event)"
                            ng-mouseup="onMouseUp($event)"
                            ><div> </div><span ng-bind="line"></span></div>
                    <div ng-if="dialog.show" class="dialog" ng-bind="dialog.item.text"></div>
                </div>
            </div>
            <a href="https://vk.com/eastareagames" class="footer-text">Наша группа ВКонтакте</a>

            <div class="footer-text">Ребята, пожертвуйте разработчикам на пиво.</div>
            <iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/shop.xml?account=410012503174456&quickpay=shop&payment-type-choice=on&mobile-payment-type-choice=on&writer=seller&targets=%D0%9F%D0%BE%D0%B6%D0%B5%D1%80%D1%82%D0%B2%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5+%D0%BD%D0%B0+%D1%80%D0%B0%D0%B7%D0%B2%D0%B8%D1%82%D0%B8%D0%B5+&targets-hint=&default-sum=&button-text=01&successURL=" width="450" height="198"></iframe>

        </div>


        <script type="text/javascript" src="./components/angular/angular.min.js"></script>
        <script type="text/javascript" src="./components/angular-mocks/angular-mocks.js"></script>

        <script src="./app/app.js"></script>
<script src="./app/character/src/character-control.service.js"></script>
<script src="./app/character/src/character-data.service.js"></script>
<script src="./app/character/src/character-logic.service.js"></script>
<script src="./app/character/src/character-sprite.class.js"></script>
<script src="./app/character/src/character.class.js"></script>
<script src="./app/config/initialization.run.js"></script>
<script src="./app/config/transparent-symbol.constant.js"></script>
<script src="./app/control/keyboard/src/keyboard.service.js"></script>
<script src="./app/control/keyboard/src/keys.constant.js"></script>
<script src="./app/control/mouse/src/mouse.service.js"></script>
<script src="./app/core/collection/src/collection.class.js"></script>
<script src="./app/core/collision/src/collision.service.js"></script>
<script src="./app/core/entity/src/entity-visible.class.js"></script>
<script src="./app/core/entity/src/entity.class.js"></script>
<script src="./app/core/layer/src/layer.class.js"></script>
<script src="./app/core/level/src/level.service.js"></script>
<script src="./app/core/message/message.constant.js"></script>
<script src="./app/core/point/src/point-limit.service.js"></script>
<script src="./app/core/point/src/point.service.js"></script>
<script src="./app/core/rect/src/rect.service.js"></script>
<script src="./app/core/render/src/render.service.js"></script>
<script src="./app/core/sprite/src/sprite-animate.class.js"></script>
<script src="./app/core/sprite/src/sprite-image.class.js"></script>
<script src="./app/core/sprite/src/sprite.class.js"></script>
<script src="./app/core/sprite/src/strip.class.js"></script>
<script src="./app/core/symbolGrid/src/symbol-grid.service.js"></script>
<script src="./app/core/unique/src/unique.service.js"></script>
<script src="./app/entities/npc/fans/fans.js"></script>
<script src="./app/entities/npc/fox/fox.js"></script>
<script src="./app/entities/npc/horse/horse.js"></script>
<script src="./app/entities/npc/kefir/kefir.js"></script>
<script src="./app/entities/npc/npc-sprite.service.js"></script>
<script src="./app/entities/npc/npc.service.js"></script>
<script src="./app/entities/npc/pionerPark/poinerPark.js"></script>
<script src="./app/entities/npc/pionerWC/poinerWC.js"></script>
<script src="./app/entities/static-object.service.js"></script>
<script src="./app/game/dialogs.value.js"></script>
<script src="./app/game/game.service.js"></script>
<script src="./app/map/src/map.service.js"></script>
<script src="./app/viewport/src/directive/symbol-width.directive.js"></script>
<script src="./app/viewport/src/directive/viewport-line.directive.js"></script>
<script src="./app/viewport/src/service/symbol-width.service.js"></script>
<script src="./app/viewport/src/service/viewport.service.js"></script>
<script src="./app/viewport/src/viewport.controller.js"></script>

        <!--<script type="text/javascript" src="dist/dist.js"></script>-->

    </body>
</html>
