html, body {
    font-family: Courier New, monospace;
    height: 100%;
    margin: 0;
}

.footer-text {
    margin-top: 50px;
}
.sorry > img {
    width: 100%;
}

.sorry {
    font-size: 24px;
    text-align: center;
}
