
.interface {
    height: 100%;
    margin: 0 auto;
    max-width: 800px;
    position: relative;
}

.viewport {
    height: 600px;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border-bottom: 1px solid #aaa;
    margin-bottom: 50px;
}

.viewport > .view {
    border: 1px solid #aaa;
    box-sizing: border-box;
    height: 100%;
    position: relative;
}

@media screen and (max-height: 600px) {
    .viewport {
        height: 100%;
    }
}

@media screen and (max-width: 600px) {
    .viewport {
        font-size: 8pt;
    }
}

@media screen and (max-width: 300px) {
    .viewport {
        font-size: 6pt;
    }
}


.viewport-line {
    white-space: pre;
    position: relative;
}

.viewport-line > div {
    position: absolute;
    display: none;
    top: 0;
}

.viewport-line > div.show {
    display: block;
    background-color: #AAA;
    z-index: -1;
}

.view > i {
    display: none;
}

.view > i.show {
    display: block;
    position: absolute;
    color: #aaa;
    font-size: 9pt;
    font-style: normal;
}

.button-bar {
    overflow: hidden;
    top: 0;
    left: 0;
}

.button-bar > .button {
    float: left;
    color: #636363;
    text-transform: uppercase;
}

.button-bar > .button:hover {
    color: #000;
}

.button-bar > .button.hold {
    color: #00b10c;
}

.button-bar > .button.red {
    float: right;
}

.button-bar > .button.hold.red {
    color: #da0600;
}

.button-bar > .weapon {
    float: right;
    color: #373737;
    text-transform: uppercase;
}

.dialog {
    position: absolute;
    bottom: 55px;
    margin: 18px 9px;
    z-index: -10;
}
